C 0 -100 "VAC_IN_(L)" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VAC_IN_(L)" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1500 -100 "-VOUT" 1500 -100 0 0 60 0 R
X "PIN_TEXT" "-VOUT" 1270 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -100 1500 -100 -1 0
C 1500 0 "+VOUT" 1500 0 0 0 60 0 R
X "PIN_TEXT" "+VOUT" 1270 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 0 1500 0 -1 0
C 0 0 "VAC_IN_(N)" 0 0 0 0 60 0 L
X "PIN_TEXT" "VAC_IN_(N)" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
L 200 100 1300 100 -1 0
L 1300 -200 1300 100 -1 0
L 1300 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 1350 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

